.c1{
    height: 900px;;
    width: 10px;
    background-color:aliceblue;
    text-align: center;
    margin-left: 450px;
    margin-top: 120px;
    margin-bottom: 80PX;
    padding-top: 20px;

    
  
  }
